@charset "UTF-8";

@import "font.css";
@import "reset.css";
@import "swiper-bundle.min.css";
@import "m_style.css";


#header{
    width:100%;
}


.search-txt p{font-size:2.2rem; font-weight:900; line-height:2.9rem; /*letter-spacing: -5%;*/}