@charset "UTF-8";

@import "font.css";
@import "reset.css";
@import "swiper-bundle.min.css";
/*@import "m_style.css";*/

a{text-decoration: none; color:black;}

#header{width:100%; display:flex; justify-content: space-between; align-items:center; padding:1.4rem 2rem; border-bottom:1px solid #e9e9e9; padding-top:2rem;}
/*헤더는 borderbottom써야지*/
#header .logo{width:8rem; height:3.4rem;}
#header .logo a{background:url("../images/mo_ico_logo.svg") no-repeat center/cover; display:inline-block; width:8rem; height:3.4rem;}
#header .burger-menu{background:url("../images/icon_burger_menu.svg") no-repeat center/cover;width:2.2rem; height:1.6rem; display:inline-block;}
/*클릭하면 x버튼 나오게 하고싶당...*/

main .main-sec1{margin-bottom:6.5rem; padding:0 2rem;}
main .main-sec1 .search-txt{margin-bottom:2rem;}
main .main-sec1 .search-txt p{font-size:2.2rem; font-weight:900; line-height:2.9rem;/* letter-spacing: -5%;*/ text-align:left; margin-top:5.5rem; word-break: break-word;}
main .main-sec1 .search-input{width:100%; height:6rem; border:2px solid #3C4157; border-radius: 0.5rem; text-align:right; line-height:2rem; font-size: 1.6rem; font-weight: 400; padding:1.9rem 0; position:relative; color:#ACACAC;
box-shadow:1.5rem 1.5rem 4rem rgba(0,0,0,0.1); }
main .main-sec1 button{background:url("../images/mo_icon_search.svg") no-repeat center/cover; position:absolute; right:10%; top:50%; transform:translateY(-50%); width:2rem; height:2rem;}
/*검색아이콘 배치는 우선 퍼센트로 했지만 크기도 퍼센트로 잡아야하는지 여쭤보기*/


/*section2*/
main .main-sec2{margin-bottom:6.5rem;}
.main-sec2 .main-banner{width:100%;}
.main-sec2 .swiper-wrapper{width:100%;}
.main-sec2 .swiper-slide{box-sizing:content-box;}

/*min-height:20rem;*/
.main-sec2 .swiper-slide a{width:100%; min-height: 20rem; aspect-ratio: 4/3; display:flex; justify-content: space-between; position:relative;}

.main-sec2 .swiper-slide a img{width:100%;}

/*.main-sec2 .swiper-slide a img:first-child{max-width:16.3rem; min-height:12.3rem; margin:2.5rem 0 0 2.5rem; position:absolute; z-index:5;}*/
/*.main-sec2 .swiper-slide a img:nth-child(2){max-width:18.4rem; min-height:20rem; position:absolute; right:0; top:0; z-index:2;}*/

/*a.color-bg:first-child{display:inline-block; background-color:#a3e1f4; border-radius: 0.8rem;}*/
/*a.color-bg:nth-child(2){display:inline-block; background-color:#4799E5; border-radius: 0.8rem;}
a.color-bg:nth-child(3){display:inline-block; background-color:#C692FA; border-radius: 0.8rem;}*/






/*section3*/
.main-sec3{margin:6.5rem 2rem 0;}
h3{font-size:2.2rem; font-weight:900; text-align:left;}
.main-sec3 ul{display:flex; flex-direction:column; margin-top:2rem; width:100%;}
.main-sec3 ul li{margin-bottom:1.5rem; width:100%; border-radius: 0.8rem;}
.main-sec3 ul li a{display:block; padding:2rem 3rem 4rem;}
.main-sec3 ul li:first-child{background:#F5F5F8 url("../images/bg_request.svg") no-repeat right 6% top 15%;}
.main-sec3 ul li:nth-child(2){background:#F5F5F8 url("../images/bg_openboard.svg") no-repeat right 6% top 15%;}
.main-sec3 ul li:nth-child(3){background:#F5F5F8 url("../images/bg_register.svg") no-repeat right 6% top 15%;}
.main-sec3 ul li:first-child{background:#F5F5F8 url("../images/bg_request.svg") no-repeat right 6% top 15%;}
.main-sec3 ul li a h3{font-size:2rem; font-weight:600; line-height:2.7rem; color:#3C4157;}
.main-sec3 ul li a p{font-size:1.6rem; font-weight:500; line-height:2.1rem; color:#777; margin-bottom:0.2rem;}

.main-sec3 ul li:hover{background:#213967 url("../images/bg_request.svg") no-repeat right 6% top 15%; transition:0.5s;}
.main-sec3 ul li:hover a h3{font-size:2rem; font-weight:600; line-height:2.7rem; color:#ffffff; transition:0.5s;}
.main-sec3 ul li:hover a p{font-size:1.6rem; font-weight:500; line-height:2.1rem; color:#ffffff; margin-bottom:0.2rem; transition:0.5s;}






hr.line{height:1rem; width:100%; margin:4rem 0; background-color:#F5F5F8;}

/*section4*/
.main-sec4{margin:0 2rem;}
/*전체 섹션타이틀*/
.section-title{display:flex; justify-content: space-between; align-items: center;}
.section-title a{font-size:1.5rem; font-weight:400; display:flex; align-items: center;}
.section-title a img{margin-left:0.5rem; border-radius:0.8rem 0 0 0.8rem;}
.main-sec4 > div:nth-child(2){margin-top:2rem;}
.main-sec4 ul{display:flex; flex-wrap:wrap; margin:0 2%;}
.main-sec4 ul li{width:49%; margin:0.5% 0.5%;}


.thumb-wrap{width:100%; min-height:2.5rem; border-radius: 2.2rem; border:1px solid rgba(210, 210, 210, 1);}
.thumb-wrap a{width:100%; height:100%; display:inline-block; color:#777777; position:relative;}

.thumb-up{width:100%; overflow:hidden; /*aspect-ratio:13/17;*//*background:url("../images/mo_manufacturer_thumb_01.svg") no-repeat center/cover;*/}
.thumb-up .inner-wrap{padding:1.1rem 1.1rem 0; width:100%; display:flex; justify-content:space-between; align-items:center; position:absolute; left:0; top:0;}
.thumb-up .sort{font-size:1.5rem; color:#ffffff; font-weight:500; padding:0.2rem 1rem; background-color:rgba(89, 107, 169,0.7); border-radius:3rem; display:inline-block;}
.img-wrap2 {width: 100%; height: 35%; overflow:hidden; border-radius: 0.8rem;}
.thumb-title{font-size:1.6rem; font-weight:600; color:#3C4157;}
.thumb-up img{width:100%; object-fit: cover; border-radius:1rem 0 0 1rem;}
.main-sec4 .heart-icon{width:10%; display:inline-block; flex-shrink:0;}
.main-sec4 .heart-icon:nth-child(3){width:6%; height:6%; display:inline-block; flex-shrink:0;}

.thumb-wrap a.company-thumb{position:absolute; left:50%; top:-50%; border:1px solid #d2d2d2; transform:translateY(-50%);}
/*34% 내린 이유 높이58/전체높이170 = 34%*/
/*left:36% 인 이유 58/390=14% 나머지 86%에서 2나누고 반지름인 7%빼서 36%이동시킴*/
.company-thumb:nth-of-type(2) {background-color: white; width:5.8rem; height:5.8rem; border-radius: 5rem; display:inline-block;}

.thumb-down{width:100%; background-color: white; text-align:center;}
.thumb-down .thumb-txt{margin-top:2.7rem; margin-bottom:2.7rem;}
.thumb-down .thumb-title{font-size:1.6rem; font-weight:600; color:#3C4157; /*letter-spacing: -3%;*/}
.thumb-down p:last-child{font-size:1.5rem; font-weight:400; /*letter-spacing: -3%;*/}

/*.thumb-up:nth-child(2){width:100%; height:44%; background:url("../images/mo_manufacturer_thumb_02.svg") no-repeat center/cover;}
.thumb-up:nth-child(3){width:100%; height:44%; background:url("../images/mo_manufacturer_thumb_03.svg") no-repeat center/cover;}
.thumb-up:nth-child(4){width:100%; height:44%; background:url("../images/mo_manufacturer_thumb_04.svg") no-repeat center/cover;}*/
/*왜 썸네일 화면이 안바뀌는지 확인하기*/


/*section5*/
.noti-wrap{margin:0 2rem;}
/*.noti-wrap > .section-title{margin-bottom:2rem;}*/
.noti-table{margin-top:2rem;}
.noti-table tbody{border-top:2px solid #3C4157;}
.noti-table tbody tr{display:flex; justify-content: space-between; align-items:center;}
.noti-table tr .td-txt{width:100%; font-size:1.5rem; font-weight:400; color:#3C4157; border-bottom:1px solid #E9E9E9;
    padding:1.5rem 0; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.noti-table tr .td-txt div{width:100%;display:flex; justify-content: space-between; align-items: center; flex-wrap:nowrap;}
.noti-table .mini-date{font-size:1.3rem; font-weight:300; color:#777;}
/*말줄임표 처리하기*/

/*section6*/
.review-sec{margin:0 2rem;}
.review-sec .use-review{margin-top:2rem; /*text-align:center;*/}
.review-sec .use-review .swiper-wrapper{margin-bottom:2rem;}
.use-review .swiper-slide{width:35rem; height:12rem;}
.use-review .swiper-slide > a {width:100%; height:100%; display:flex; justify-content: space-between; align-items:center; border:1px solid #E9E9E9; border-radius:0.8rem; padding:1rem 1.6rem;}
.swiper-slide > a > div:first-child{display:flex; flex-direction: column; justify-content: space-between; width:51%;}
.swiper-slide > a > div:last-child{display:flex; flex-direction: column; justify-content: space-between; width:36%;}
.swiper-slide > a > div:first-child > p:first-child{font-size:1.6rem; font-weight:600; color:#3c4157;}

.swiper-slide > a > div:first-child > p:last-child{font-size:1.5rem; font-weight:300; color:#777; word-wrap: break-word;}

/*.use-review{position:relative;}*/
.review-sec .swiper-pagination{position:inherit;}
/*페이지네이션이 가운데로 왔음 좋겠다*/
.review-sec .swiper-pagination-bullet{background-color: #d2d2d2; margin:0rem; width:0.5rem; height:0.5rem;}
.swiper-pagination-bullet.swiper-pagination-bullet-active{background-color:#3C4157; width:2.5rem; height:0.5rem; border-radius:1rem; display:inline-block;}
/*페이지네이션 검수필요*/

/*section7*/
.main-partner{margin:0 0 0 2rem;}
.main-partner .partner{margin:3rem 0 8rem;}
.main-partner .swiper-slide{width:fit-content !important;}
/*.main-partner a:first-child{background:url("../images/mo_incheon_logo.svg") no-repeat center/cover; width:10.2rem;}*/


/*footer*/
#moFooter{}
.mo_main_link{width:100%; height:7.4rem; background-color:#F5F5F8; padding:0 2rem;}
.mo_main_link nav{width:100%; height:7.4rem; display:flex; align-items:center; justify-content:space-between; font-size:1.4rem; font-weight:500;}
.spBet{margin:3.5rem 2rem 3rem; width:7.1rem; height:3rem; display:flex; justify-content: space-between; align-items: center;}
address{margin:0 2rem; font-size:1.4rem; font-weight:400; color:#acacac; font-style:normal;}
/*footer의 address는 어느 부분에서는 공통이니까 다 같은 모양인 것을 확인하고(로그인,회원가입 제외) 푸터의 address 태그 자체에 속성을 부여했습니다*/
.sns-icon ul{display:flex; justify-content: flex-start; align-items: center; margin-left:13.7rem;}
.sns-icon ul li{margin-right:2rem;}
.copyright{font-size:1.4rem; font-weight:400; margin:2rem 2rem 5rem; color:#acacac;}
.content-wrap{margin:4rem 2rem 0;}

/*//모바일메인페이지*/


*{word-break: break-all;}

/*03견적의뢰 5단계*/
.request-title{margin:5.5rem 2rem 1.5rem;}
.request-title > h1{font-size:2.2rem; font-weight:900; /*letter-spacing:-3%;*/ color:#3c4157;}
.request-title > p{margin-top:1.5rem; font-size:1.5rem; font-weight:400; color:#777;}

/*기존 itp코드는 파일질라에서 확인*/
.step-title{font-size:1.8rem; font-weight:600; margin-bottom:3rem;}

.mini-tit{font-size:1.5rem; font-weight:400; color:#777; margin-bottom:1.5rem;}
.emphasis{color:#ea4335;}
.input-wrap > div{margin-bottom:2rem;}
.input-wrap input{width:100%; height: 4.8rem; background-color:#f5f5f8; border-radius:0.3rem; font-size:1.5rem; font-weight:400; padding:0 1.5rem; color:#acacac;}
.input-wrap input::placeholder{color:#acacac; font-size:1.6rem; font-weight:400;}
.hide{display:none;}
.input-flex{display:flex; justify-content: space-between; align-items: center;}
/*spacebetween을 쓴 이유는 두 input 태그의 너비를 전체너비(350)에서 한 칸의 너비(170)을 비율로 계산해 넣었기 때문입니다*/
.input-flex > input{width:48%; height:4.8rem;}
.budget .input-flex{margin-bottom:1.8rem;}

.ch-wrap{height:1.8rem; margin-top:2rem; margin-bottom:3rem; font-size:1.6rem; font-weight:400; display:flex; align-items: center; justify-content: flex-end;}
.ch-wrap > input{display:none;}
.ch-wrap .check-box{display:inline-block; width:8.8rem; height:1.8rem; position:relative;}
.ch-wrap .check-box::before {position:absolute; left:-35%; top:15%; display: block; content: ''; width: 1.8rem; height: 1.8rem; border: 1px solid #D2D2D2; border-radius: 0.3rem;}
.ch-wrap .check-box:checked::before { display: block; content: ''; width: 1.8rem; height: 1.8rem; border: 1px solid #ea4335;background:#ea4335;}
/*.ch-wrap .check-box::before{content:''; display:inline-block; width:1.8rem; height:1.8rem; border-radius: 0.3rem; border:1px solid #d2d2d2; position:absolute; left:-3rem; top:0.3rem;}*/
/*.ch-wrap .check-box:checked + .check-box::before{border-color:#ea4335; background: url("../images/checkbox_inner.svg") no-repeat center/cover;}*/
.ch-wrap .check-box span{word-break: keep-all;}

.budget-open{margin-bottom:3rem /*!important*/;}
/*모든 div에 거의 2rem이 들어가서 그렇게 지정하고 각 클래스를 만들어 마진바텀높이가 다른 예산공개여부 섹션에 다른 마진을 주려고했으나 클래스명지정해서 쓰니 적용되지 않음*/
.radio-flex{display:flex; justify-content: flex-start; align-items: center; height:1.8rem; margin-top:2.5rem; position:relative;}
.radio-wrap {display: flex; align-items: center; margin-right: 3rem;}
.radio-wrap input{position: relative; width:1.8rem; height:1.8rem; margin-bottom:0; margin-right:1.2rem; appearance: none; padding: 0; background: none;}
.radio-wrap input:after {display: block; content: ''; width: 1.8rem; height: 1.8rem; border: 1px solid #D2D2D2; border-radius: 100%;}
.radio-wrap input:checked:after {display: block; content: ''; width: 1.8rem; height: 1.8rem; border: 1px solid #ea4335; border-radius: 100%;}
.radio-wrap input:checked:before {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); display: block; content: ''; width: 1.2rem; height: 1.2rem; background: #ea4335; border-radius: 100%;}


.manu-amount{margin-bottom:2rem;}

.manu-range{margin-bottom:2rem;}

.other-request textarea{font-size:1.6rem; font-weight:400; width:100%; height:13.8rem; border-radius:0.3rem; /*white-space: pre-line;*/ background-color:#f5f5f8;}

.img-container .img-wrap input{width:17rem; height: 17rem; background: url("../images/mo_img_file_ex.svg") no-repeat center/cover;}

.warning{font-size:1.3rem; font-weight:400; color:#ea4335; word-break: break-all; padding:1rem 1.5rem; border:1px solid #ea4335; background-color:rgba(255, 235, 237, 0.2); margin-bottom:2rem;}
/*피그마에 있는 배경색이 진하다고 판단해서 현재 운영되는 페이지에서 배경색을 참고했습니다.*/

.btn-wrap{display:flex; flex-direction:column; justify-content: flex-start;}
.btn-gray{font-size:1.6rem; font-weight:400; color:#777; padding:1.4rem 16rem; background-color: #e9e9e9; margin-bottom:1rem;}
.btn-blue{font-size:1.6rem; font-weight:600; color:#fff; padding:1.4rem 14rem; background-color:#596ba9; }
.ex-plan .input-wrap{display:flex; justify-content: space-between; align-items: center;}
.ex-plan .input-wrap input{width:68%; height:5rem; background-color: #fff; color:#acacac; font-size:1.6rem; font-weight:400;border:1px solid #e9e9e9}
.ex-plan .input-wrap label{font-size:1.6rem; font-weight:400; padding:1.4rem 1.2rem; color:#777; border:1px solid #e9e9e9; border-radius: 0.3rem;}

.agree{display:flex; justify-content: space-between; align-items:flex-start;}
/*spacebetween으로 한 이유-> 너비가 늘어날때 각각의 위치로 자동정렬되어야하므로*/
.agree > #agree-ch{width:1.8rem; height:1.8rem; border:1px solid #d2d2d2; margin-bottom:5.8rem; margin-right:1.2rem;}

.btn-wrap{margin-bottom:8rem /*!important*/;}


input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {display: none; -webkit-appearance: none;}
.pay-date input::after{width:1.7rem; height:1.7rem; background:url("../images/mo_calender_icon.svg") no-repeat center/cover;}

/*04공지사항 안내리스트*/
.notice-title{margin:5.5rem 2rem 0rem;}
.notice-title > h1{font-size:2.2rem; font-weight:900; color:#3c4157; margin-bottom:1.5rem; width:35rem; height:5rem;}
.notice-title > p{font-size:1.5rem; font-weight:400; color:#777;}
.noti-search{position:relative; margin:2rem 2rem 1.5rem;}
.noti-search input{padding:1.4rem 1.5rem; border:1px solid #e9e9e9; width:100%;}
.noti-search input::placeholder{font-size:1.6rem; font-weight:600; color:#acacac;}
.noti-search > span{position:absolute; z-index:10; left:89%; top:34%;background: url("../images/mo_icon_search.svg") no-repeat center/cover; width:1.6rem; height:1.6rem;}

.notice-table{border-top:2px solid #d2d2d2;}
.notice-table td{border-bottom:1px solid #e9e9e9;}
.notice-table .td-top{width:100%; display:flex; flex-direction:column; justify-content: center; padding:1.5rem 0 1.7rem;}
.noti-tit{display:flex; justify-content: flex-start; align-items:center; width:100%; margin-bottom:0.5rem;}
.noti-tit .noti-icon{font-size:1.4rem; font-weight:600; color:#fff; background-color: #596ba9; padding:0.2rem 0.7rem; border-radius:0.3rem; margin:0 1rem 0 0;}
.noti-tit > p{font-size:1.5rem; font-weight:400; color:#3C4157; width:82%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.td-top ul{display:flex; justify-content: flex-start;}
.td-top ul li{font-size:1.4rem; font-weight:400; color:#acacac;}
.td-top ul li:visited{color:#acacac;}
.td-top ul li:after{content:''; height:1.2rem; border-right:1px solid #acacac; margin:0 1rem;}
.td-top ul li:last-child::after{display:none;}
.notice-table td-top .noti-tit p::after{content:''; display:none; border-bottom: #3C4157; width:0; trasition:0.5s;}
.notice-table td-top:hover .noti-tit p::after{content:''; display:block; border-bottom: #3C4157; width:100%;}

.noti-pagination{width:45%; margin:5rem auto 8rem; display:flex; justify-content: space-around; align-items: center;}
.noti-pagination ul{display:flex; justify-content: space-between;}
.noti-pagination ul li a{font-size:1.6rem; font-weight:500; color:#acacac; padding:0.7rem 1.3rem;}
.noti-pagination ul li.active a{color:#575757; background-color:#f5f5f8; border-radius: 0.3rem;}
.pre-page{background: url("../images/icon_pre_page.svg") no-repeat center/cover; width:0.5rem; height:0.7rem}
.next-page{background: url("../images/icon_next_page.svg") no-repeat center/cover; width:0.5rem; height:0.7rem;}



/*@media (min-width:768px){
    .main-banner{width:100%; height:auto;}
    main .main-sec1 span{background:url("../images/mo_icon_search.svg") no-repeat center/cover; position:absolute; left:94%; top:33%; width:2rem; height:2rem;}

    #section3 ul{width:100%;}
    .main-sec3 ul li:first-child{background:#F5F5F8 url("../images/bg_request.svg") no-repeat right 7% top 15%; background-size: 25%; border-radius: 0.8rem;}

    !*.main-sec4 li{width:32%;}*!


}*/
